POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=depfund
SECRET_KEY=
LOG_SQL_QUERIES=0
ADMIN_SECRET_KEY=develop
# DATABASE_URL=sqlite+aiosqlite:///./test.db
# SECRET_KEY=una_clave_cualquiera_123
# LOG_SQL_QUERIES=1
# ADMIN_SECRET_KEY=develop